@* Dynamic title that is passed to layout for formatting *@
@{
    ViewData["Title"] = "Hobby Time";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
</head>
<body>
<h1>Welcome to my Rocket League Page</h1>
<h6>I have a problem...</h6>
<br>
@* Header *@
<p>This website is dedicated to one of my main hobbies at the moment and is designed to introduce the topic to you as well as you
    offer some pricing for tutoring to help anybody level up there Rocket League game by playing with me. This information has
    some general information about Rocket League itself, and the tutoring page is where you can find estimated pricing for tutoring
    at an hourly rate.</p>

@* Image 1 *@
<img src="img/title_page.jpg" alt="Rocket League Title" width="100%">
<br>
@* Paragraphs about hobby *@
<p>Rocket League is a video game that was released in 2015 and is playable on all consoles. In this game, you are playing soccer but with cars 
    instead of people and vastly smaller teams. Your options for regular Soccar gameplay are 1v1, 2v2, 3v3, and 4v4. Along with Soccar, there are 
    limited time game modes that release every few weeks, one of which being Soccar but with a hockey puck instead of a ball.  
</p>

<p>Rocket League splits gameplay into 2 modes: casual and ranked. Casual uses skill-based matchmaking but does not keep track of your progress, 
    while ranked gives you a rank based on your number of wins and then pairs you with opponents of a similar rank. I personally did not get into
    ranked for a long time, but I have changed that and earned the rank of Champ 1 last season. I am now currently in Diamond 3, which is just under 
    Champ 1 and am working my way back up</p>

<p>Funny enough, I made a Rocket League page for IS201 and this is the car that I was using at the time...</p>

@* Image 2 *@
<img src="img/car.jpg" alt="car" width="100%">

</body>
</html>
